 <!-- ======= Mobile nav toggle button ======= -->
 <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

 <!-- ======= Header ======= -->
 <header id="header">
   <div class="d-flex flex-column">

     <div class="profile">
       <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
       <h1 class="text-light"><a href="index.html">Pedro Victor Abreu</a></h1>
       <div class="social-links mt-3 text-center">
         <a href="https://github.com/Pedrovictorrr" class="github"><i class="bx bxl-github"></i></a>
         <a href="https://www.linkedin.com/in/pedro-victor-fernandes-de-abreu-98411816a/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
       </div>
     </div>

     <nav id="navbar" class="nav-menu navbar">
       <ul>
         <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Inicio</span></a></li>
         <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Sobre</span></a></li>
         <li><a href="#skills" class="nav-link scrollto"><i class="bx bxs-like bx-spin-hover"></i>
             <span>Habilidades</span></a></li>
         <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resumo</span></a></li>
         <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Projetos e trabalhos</span></a></li>
         <li><a href="#testimonials" class="nav-link scrollto"><i class="bx bx-message-rounded-dots"></i> <span>Comentarios</span></a></li>
         <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contato</span></a></li>
       </ul>
     </nav><!-- .nav-menu -->
   </div>
 </header><!-- End Header -->